@model List<Contact>
@{ ViewBag.Title = "Contact Manager";}

<div class="container">
    <div class="pb-2">
        <a asp-controller="Contact" asp-action="Add">Add Contact</a>
    </div>
<table class="table">
    <thead style="font-weight:600">
        <tr style="">
            <td>First Name</td>
            <td>Last Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Category</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Contact contact in Model)
        {
        <tr>
            <td><a asp-controller="Contact" asp-action="Details" asp-route-id="@contact.contactID">@contact.firstName</a></td>
            <td><a asp-controller="Contact" asp-action="Details" asp-route-id="@contact.contactID">@contact.lastName</a></td>
            <td>@contact.phone</td>
            <td>@contact.email</td>
            <td>@contact.category.categoryName</td>
        </tr>
        }
    </tbody>
</table>
</div>



